.example-full-width {
  width: 100%;
}

button {
  margin-right: 5px;
  margin-left: 5px;
}

textarea {
  font-size: 12px;
}

mat-card {
  margin: 20px 0px;
  background-color: white;
}

table {
  width: 30%;
}
.table-container {
  margin-top: 10px;
  max-height: 493px;
  overflow: auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.primary {
  background-color: #D1495B;
  color: white;
}

.accent {
  color: #00798C;
}

textarea {
  color: #D1495B;
}
